@model IEnumerable<FinanceApp.Models.Expense>

@{
	ViewData["Title"] = "Expenses";
}

<div class="container">
	<h2 class="text-center">My Expenses</h2>

	@if (TempData["EditError"] != null)
	{
		<div class="alert alert-warning alert-dismissible fade show" 
			role="alert">
			@TempData["EditError"]
			<button type="button" 
				class="btn-close" 
				data-bs-dismiss="alert" 
				aria-label="Close">
			</button>
		</div>
	}

	<div id="alertContainer"></div>

	@* <a asp-controller="Expenses" 
		asp-action="Create" 
		class="btn btn-outline-success btn-sm mt-3">
		New Expense
	</a> *@

	<!-- Tombol untuk buka modal -->
	<button type="button" 
		class="btn btn-outline-success btn-sm mt-3" 
		data-bs-toggle="modal" 
		data-bs-target="#createExpenseModal">
		Add New Expense
	</button>


	@* <table class="table table-bordered mt-3">
		<thead class="table-light">
			<tr>
				<th>Description</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Description</td>
					<td>@item.Amount.ToString("C", new System.Globalization.CultureInfo("id-ID"))</td>
					<td>@item.Category?.Name</td>
					<td>@item.Date.ToString("yyyy-MM-dd")</td>
					<td>
						<a asp-controller="Expenses"
							asp-action="Edit"
							asp-route-id="@item.Id"
							class="btn btn-outline-warning btn-sm">
							Edit
						</a>
						<a asp-controller="Expenses"
							asp-action="Delete"
							asp-route-id="@item.Id"
							class="btn btn-outline-danger btn-sm">
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table> *@

	<div id="expensesTable">
		@await Html.PartialAsync("_ExpensesTablePartial", Model)
	</div>
</div>



<!-- Modal -->
<div class="modal fade" 
	id="createExpenseModal" 
	tabindex="-1" 
	aria-labelledby="createExpenseModalLabel" 
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="createExpenseForm" 
				action="/Expenses/Create" 
				method="post">
				<div class="modal-header">
					<h5 class="modal-title" 
						id="createExpenseModalLabel">
						Add Expense
					</h5>
					<button type="button" 
						class="btn-close" 
						data-bs-dismiss="modal" 
						aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="Description" 
							class="form-label">
							Description
						</label>
						<input name="Description" 
							id="Description" 
							class="form-control" required />
					</div>
					<div class="mb-3">
						<label for="Amount" 
							class="form-label">
							Amount
						</label>
						<input name="Amount" 
							id="Amount" 
							class="form-control" 
							type="number" 
							step="0.01" 
							required />
					</div>
					<div class="mb-3">
						<label for="CategoryId" 
							class="form-label">
							Category
						</label>
						<select id="CategoryId" 
							name="CategoryId" 
							class="form-control">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" 
						class="btn btn-outline-primary btn-sm">
						Save
					</button>
					<button type="button" 
						class="btn btn-outline-secondary btn-sm" 
						data-bs-dismiss="modal">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal Edit -->
<div class="modal fade" 
	id="editExpenseModal" 
	tabindex="-1" 
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editForm">
				<div class="modal-header">
					<h5 class="modal-title">
						Edit Expense
					</h5>
					<button type="button" 
						class="btn-close" 
						data-bs-dismiss="modal" 
						aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" 
						id="editId" 
						name="Id" />
					<div class="mb-3">
						<label class="form-label">
							Description
						</label>
						<input type="text" 
							class="form-control" 
							id="editDescription" 
							name="Description" />
					</div>
					<div class="mb-3">
						<label class="form-label">
							Amount
						</label>
						<input type="number" 
							class="form-control" 
							id="editAmount" 
							name="Amount" />
					</div>
					<div class="mb-3">
						<label class="form-label">
							Category
						</label>
						<select class="form-control" 
							id="editCategoryId" 
							name="CategoryId">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" 
						class="btn btn-primary">
						Update
					</button>
					<button type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal Delete -->
<div class="modal fade" 
	id="deleteExpenseModal" 
	tabindex="-1" 
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					Confirm Delete
				</h5>
				<button type="button" 
					class="btn-close"
					data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this expense?</p>
				<p><strong id="deleteDescription"></strong></p>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="deleteId" />
				<button type="button"
						class="btn btn-danger"
						onclick="confirmDelete()">
					Delete
				</button>
				<button type="button" 
					class="btn btn-secondary" data-bs-dismiss="modal">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		//Add Menu
		$(document).ready(function () {
			$('#createExpenseForm').submit(function (e) {
				e.preventDefault();

				var form = $(this);
				var url = form.attr('action');
				var data = form.serialize();

				$.ajax({
					type: 'POST',
					url: url,
					data: data,
					success: function (result) {
						$('#expensesTable').load('/Expenses/TablePartial');
						$('#createExpenseModal').modal('hide');
						form.trigger('reset');

						$('#alertContainer').html(`
							<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
								Expense successfully added.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						`);
					},
					error: function (xhr) {
						$('#alertContainer').html(`
							<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
								Gagal menambahkan Expense. Pastikan data valid.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						`);
					}
				});
			});
		});
		$('#createExpenseModal').on('show.bs.modal', function () {
			$.ajax({
				url: '/Expenses/GetCategories',
				method: 'GET',
				success: function (categories) {
					var select = $('#CategoryId');
					select.empty();

					select.append($('<option>', {
						value: '',
						text: '-- Select Category --'
					}));

					$.each(categories, function (i, category) {
						select.append($('<option>', {
							value: category.id,
							text: category.name
						}));
					});
				}
			});
		});
		//Edit Menu
		function openEditModal(id) {
			$.get(`/Expenses/GetExpenseJson/${id}`, function (data) {
				$('#editId').val(data.id);
				$('#editDescription').val(data.description);
				$('#editAmount').val(data.amount);
				$('#editCategoryId').empty();

				$.each(data.categories, function (i, category) {
					$('#editCategoryId').append(`<option value="${category.value}" ${category.value == data.categoryId ? "selected" : ""}>${category.text}</option>`);
				});

				$('#editExpenseModal').modal('show');
			});
		}
		$('#editForm').submit(function (e) {
			e.preventDefault();

			$.ajax({
				type: 'POST',
				url: '/Expenses/Edit',
				data: $(this).serialize(),
				success: function (result) {
					if (result.success) {
						$('#expensesTable').load('/Expenses/TablePartial');
						$('#editExpenseModal').modal('hide');
					} else {
						alert("Gagal memperbarui data.");
					}
				}
			});
		});
		//Delete Menu
		function openDeleteModal(id, description) {
			$('#deleteId').val(id);
			$('#deleteDescription').text(description);
			$('#deleteExpenseModal').modal('show');
		}
		function confirmDelete() {
			var id = $('#deleteId').val();

			$.ajax({
				url: '/Expenses/DeleteExpense/' + id,
				type: 'POST',
				success: function (result) {
					if (result.success) {
						$('#deleteExpenseModal').modal('hide');
						$('#expensesTable').load('/Expenses/TablePartial');
					} else {
						alert("Gagal menghapus data.");
					}
				},
				error: function () {
					alert("Terjadi kesalahan.");
				}
			});
		}
	</script>
}

@* 
<div class="container">
	<h2>Expenses Overview</h2>
</div>

<div class="container">
	<canvas style="max-width: 450px; max-height: 450px;"id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
	const ctx = document.getElementById('myChart');

	fetch('/Expenses/GetChart')
		.then(response=> response.json())
		.then(data => {
			new Chart(ctx, {
				type: 'pie',
				data: {
					labels: data.map(d => d.category),
					datasets: [{
						data: data.map(d => d.total),
					}]
				},
			});
		})
</script> *@
